.container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgb(150, 172, 238);
    width: 150px;
    height: 150px;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
/* 
.img-home {
    width: 50px;
    height: 50px;
}

.img-home:hover {
    animation: rotation 0.5s infinite;
}

@keyframes rotation {
    form {
        transfrom: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
}

.box:hover {
    transform: scale(1.5);

} */