.option-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 16px;
}

.container {
    --col-track-size: auto;
    display: grid;
    grid-template-columns: var(--col-track-size) var(--col-track-size) var(--col-track-size);
    grid-template-rows: 200px;
    width: 400px;
    border: 1px solid black;
    padding: 8px;
    gap: 16px;
}

.container >div {
    background-color: lightcoral;
}